html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-image: url("images/pozadie2.png");
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.hlavicka {
  padding: 15px 0 0 0;
  align-items: center;
  background-color: #f4e8e3;
}

.hlavicka__logo-image {
  margin: auto auto 15px auto;
  /* margin-bottom: 15px; */
  display: block;
}

.menu__link {
  text-decoration: none;
  background-color: #f4e8e3;
  border: 0.5px solid #e8cfe0;
  color: black;
  display: block;
  padding: 5px;
  margin: 0;
}

.menu__link:hover {
  background-color: #fdc500;
  color: white;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1 1 100%;
}

.menu__item {
  text-align: center;
}

.hero {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto 30px auto;
  padding: 15px;
}


.hero__nadpis {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
}

.hero__text {
  font-size: 16px;
  margin: 30px 0 0 0;
}

.hero__maskot {
  display: flex;
  justify-content: center;
}

.hero__image {
  max-width: 100px;
  max-height: 220px;
  padding-top: 90px;
}


.referencie__box-logo {
  max-width: 100px;
  max-height: 35px;
  width: 100%;
  height: 100%;
  padding-right: 15px;
}

/* .dizajn__image,
.vyvoj__image,
.podpora__image {
  max-width: 70px;
  max-height: 70px;
  width: 100%;
  height: 100%;
  padding-right: 18px;
} */

.referencie{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
}

.referencie__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f6efd9;
  box-shadow: -10px 10px 13px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 0 auto 30px auto;
  padding: 13px 20px 13px 20px;
}
.referencie__box-nadpis {
  font-size: 17px;
  margin: 0;
}

.referencie__box-text {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 7px;
}

.referencie__box-meno {
  margin: 0;
}

/* .spatna-vazba{
  margin: auto;
  display: block;
} */

.button {
  color: white;
  background-color: #fdc500;
  border-radius: 4px;
  border: 1px solid #fdc500;
  padding: 9px 13px;
  margin: 0 auto 30px auto;
  display: block;
}

/* sluzby */

.nadpis-sluzby {
  font-size: 15px;
}

.text-sluzby {
  font-size: 13px;
}

.sluzby__image {
  max-width: 67px;
  max-height: 53px;
}

.sluzby {
  display: flex;
  justify-content: space-around;
  background-color: #f6f2f5;
  box-shadow: -10px 10px 13px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 0 auto 30px auto;
  width: 318px;
  height: 160px;
  /* width: 100%;
  height: 100%; */
}

/* paticka */
.footer__stlpce{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 15px;
}

.footer__stlpec{
    flex-basis: calc((100% - 10px) / 2);
    align-items: center;
    margin-left: 5px;


}


.footer__nadpis{
    font-size: 12px;
}

.footer__text{
    font-size: 15px;
    margin:0
}

.footer__link,
.kontakt__link{
    text-decoration: none;
    color:#fdc500

}

/* .footer__logo{
    padding-left: 40px;
} */

.footer__copyright{
    text-align: center;
    color: #989797;
}



/* projekty */

.projekt{
  background-color: #f6f2f5;
  box-shadow: -10px 10px 13px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 0 auto 30px auto;
  padding: 13px 20px 13px 20px;
  max-width: 318px;
}

.projekt__image{
    width: 200px;
    height: 120px;
    text-align: center;
    margin: 0 0 0 50px;
}

.projekt__nadpis{
    font-size: 22px;
}

.projekt__opis{
    font-size: 20px;
    
}

.projekt__text{
    font-size: 13px;
}

.button-projekt{
    margin: 0 0 30px 0; 
}

/* kontakt */

.socialne-siete{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0 0 10px;
    width: 200px;
}



.kontakt{
    text-align: center;
  background-color: #f6f2f5;
  box-shadow: -10px 10px 13px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 0 auto 30px auto;
  padding: 13px 20px 13px 20px;
  max-width: 318px;
  margin-top: 30px;
}

.kontakt{
    font-size: 22px;
}

.kontakt__image{
    margin-top: 30px;
}





