<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Webentor</title>
    <link rel="stylesheet" href="/css/style.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="hlavicka">
      <div class="hlavicka__vnutro">
        <div class="hlavicka__logo">
          <img
            class="hlavicka__logo-image"
            src="/images/logo.png"
            alt="Logo Webentor"
          />
        </div>

        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="/" class="menu__link">Domov</a>
            </li>
            <li class="menu__item">
              <a href="/sluzby/" class="menu__link">Služby</a>
            </li>
            <li class="menu__item">
              <a href="/projekty/" class="menu__link">Projekty</a>
            </li>
            <li class="menu__item">
              <a href="/kontakt/" class="menu__link">Kontakt</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main">
{{ content | safe }}
</main>

    <footer class="footer">
      <div class="footer__stlpce">
        <div class="footer__stlpec footer__stlpec--logo">
          <img
            class="footer__logo"
            src="/images/logo-w.png"
            alt="Logo Webentor"
          />
        </div>

        <div class="footer__stlpec">
            <p class="footer__nadpis">ADRESA</p>
            <p class="footer__text">Súhvezdná 15 <br> 821 04 Bratislava</p>
          </div>

        <div class="footer__stlpec">
          <p class="footer__nadpis">KONTAKT</p>
          <div>
            <a class="footer__link" href="mailto:hello@helloword.sk"
              >hello@helloword.sk</a
            >
          </div>
          <div>
            <a class="footer__link" href="tel:00421 999 111 222"
              >0999 111 222</a
            >
          </div>
        </div>

        <div class="footer__stlpec">
          <p class="footer__nadpis">SLEDUJ NÁS</p>
          <div>
            <a
              class="footer__link"
              href="https://facebook.com/jaroslava.putirkova/"
              target="_blank"
              >W on Facebook</a
            >
          </div>
          <div>
            <a
              class="footer__link"
              href="https://www.instagram.com/_mele_kalikimaka_/"
              target="_blank"
              >W on Instagram</a
            >
          </div>
        </div>
      </div>
      <p class="footer__copyright">© Webikon s.r.o. 2022</p>
    </footer>
  </body>
</html>